/******* Animation *******/
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
	animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
	animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}



@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in-fwd-center {
	animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

/******* end_Animation *******/



.fixed{
  position:fixed;
  width:100%;
  height:100%;
  overflow:hidden;
}
.relative{
  position:relative;
}
.selected{
  border-bottom:1px solid #fff;
}
