a{
  color:inherit;
  cursor:pointer;
  text-decoration:none;
  outline:none;
  &:hover, &:active{
    text-decoration:none;
    color:inherit;
  }
}
button{
  &:active, &:focus{
    outline:none;
  }
}
html{
  height:100%;
}
body{
  background-color:$bg-first;
  color:$text-color-first;
  display:flex;
  font-family:$font-family-first;
  font-size:$font-size-base;
  flex-direction:column;
  height:100%;
  line-height:30px;
}
main{
  flex:1 0 auto;
}
footer{
  background-color:$bg-second;
  color:$text-color-third;
  flex:0 0 auto;
  padding-top:28px;
  padding-bottom:28px;
}
header{
  background-color:$bg-second;
  color:$text-color-third;
  width:100%;
}

h1{
  margin-bottom:30px;
  margin-left: -3px;
}
h2{
}
h3{
  font-size:$font-size-h3;
}
p{
  margin:0;
}






