@media screen and (min-width:993px) {
  .icon{
    &:hover{
      fill:$bg-third;
    }
  }
  .nn-b_cards__item_services{
    &:hover{
      cursor:pointer;
      transform:scale(1.1);
    }
  }
  .nn-button{
    &:hover, &:active{
      background-color:$bg-fourth;
    }
  }
  .nn-nav__item{
    &:hover{
      background-color:$bg-second;
      color:$text-color-btn-first;
    }
  }
}
@media screen and (max-width:1070px) {
  .nn-container{
    max-width:1070px;
    padding-left:50px;
    padding-right:50px;
  }
}
@media screen and (max-width:992px) {
  body{
    font-size:$font-size-larger;
  }
  .nn-card{
    margin:0 auto;
    justify-content:center;
    &__img{
      width:50%;
      &_right{
        margin-top:50px;
      }
    }
    &__content{
      width:100%;
    }
    &_contacts{
      justify-content:flex-start;
    }
  }
  .nn-footer{
    flex-flow:row wrap;
    &__item{
      width:auto;
      &_contacts{
        width:auto;
        display:flex;
        justify-content:flex-end;
      }
    }
  }
  .nn-header{
    margin-right:42px;
    padding-left:0;
  }
  .nn-mobile-nav__burger{
    display:inline-block;
    position:absolute;
    right:50px;
    top:36px;
  }
  .nn-nav{
    display:none;
  }
}
@media screen and (max-width:850px) {
  .nn-card_contacts{
    justify-content:flex-start;
    flex-wrap:nowrap;
  }
  .nn-footer__item{
    margin-top:40px;
    width:100%;
    &_contacts{
      justify-content:flex-start;
      margin-top:0;
      order:-1;
    }
  }
}
@media screen and (max-width:768px) {
  .nn-card{
    justify-content:center;
    &_contacts{
      justify-content:flex-start;
    }
    &__img{
      width:70%;
    }
  }
  .nn-contacts{
    font-size:20px;
  }
  .nn-mobile-nav{
    font-size:30px;
    line-height:80px;
    &__burger{
      top:30px;
    }
  }
}
@media screen and (max-width:540px) {
  .nn-contacts{
    font-size:18px;
  }
  .nn-mobile-nav{
    font-size:26px;
    line-height:70px;
    &__burger{
      right:30px;
      top:20px;
    }
  }
}

