#root{
  height:100%;
}
.b_services{
  padding-left:10px;
  padding-right:10px;
}
.home{
  &__card{
    padding:33px 0 36px;
  }
}
.icon{
  fill:$text-color-third;
  margin-right:9px;
  &-home3{
    height:25px;
    width:18px;
  }
  &-mail3{
    height:21px;
    width:17px;
  }
  &-mobile{
    height:24px;
    width:15px;
  }
}
.service-page{
  text-align:center;
  margin-bottom:100px;
}
.slick-slider{
  img{
    width:100%;
  }
  .slick-dots{
    bottom:40px;
    li{
      button:before{
        font-size:16px;
        opacity:0.65;
      }
      &.slick-active button:before{
        opacity:1;
      }
    }
  }
  .slick-prev, .slick-next{
    cursor:pointer;
    height:54px;
    width:54px;
    z-index:1;
    &::before, &:after{
      color:$bg-second;
      font-size:54px;
      opacity:1;
    }
  }
  .slick-prev{
    left:calc(50% - 490px);
  }
  .slick-next{
    right:calc(50% - 490px);
  }
}
.title{
  &_header{
    font-size:$font-size-h1;
  }
  &_pages{
    font-size:30px;
    margin:40px auto;
    text-align:center;
  }
  &_card{
    font-size:$font-size-h2;
    margin-bottom:25px;
  }
}
/*.wr_page{
  display:flex;
  flex-direction:column;
  height:100%;
}*/
