#root{
  height:100%;
}
.b_services{
  padding-left:10px;
  padding-right:10px;
}
.home{
  &__card{
    padding:32px 0;
  }
}
.icon{
  fill:$text-color-third;
  margin-right:10px;
  &-home3{
    height:25px;
    width:18px;
  }
  &-mail3{
    height:21px;
    width:17px;
  }
  &-mobile{
    height:24px;
    width:15px;
  }
}
.service-page{
  text-align:center;
  margin-bottom:100px;
}
.title{
  &_header{
    font-size:$font-size-h1;
  }
  &_pages{
    font-size:30px;
    margin:40px auto;
    text-align:center;
  }
  &_card{
    font-size:$font-size-h2;
    margin-bottom:25px;
  }
}
.wr_page{
  display:flex;
  flex-direction:column;
  height:100%;
}
